<!DOCTYPE html>
<html lang="en"> 
    <head>
        <!-- Metadata about the document -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                    {% if session.get('logged_in') %}
                        <a href="{{ url_for('sign_out') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('sign_in') }}">Sign in</a>
                        <a href="{{ url_for('sign_up') }}">Sign Up</a>
                    {% endif %}
            </nav>
        </header>
        {% set messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <main>
            {% block content %}{% endblock %}
        </main>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        {% block scripts %}{% endblock %}
        <script src="{{ url_for('static', filename='js/script.js', v='2') }}"></script>
        <footer>
        <p>&copy; 2024 My Flask App</p>
    </footer>
    </body>
</html>