{% extends "signin_base.html" %}

{% block head %}
    <title>Add Child</title>
{% endblock %}

{% block heading%}
    <button id="back-button" onclick="history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        Back
    </button>
    <h2>Add Child</h2>
{% endblock %}

{% block form1 %}
    <label for="annual-balance">Annual Balance:</label><br>
    <input type="number" step="1" min="0" id="annual-balance" name="annual_balance" value="0" required><br><br>
    <label for="con-password">Confirm Password:</label><br>
    <input type="password" id="con-password" name="con-password" required><br><br>
    <button type="submit">Add Child</button>
{% endblock %}